<!doctype html>
<html>
  <head>
    <title>Whats That Song</title>
  </head>
  <body>
    <h1>Whats that song?</h1>
    <div class="wrapper">
      <div class="new-game">
        <button id="new-game-button">New Game</button>
      </div>
      <div id="game-in-progress-container" class="game-in-progress" style="display: none;">
        <div class="track">
          Track art here
        </div>
        <div id="latest-guess-container" class="latest-guess">
        </div>
        <div class="players">
          <div id="p1" class="player" data-player-id="1">
            Player One
          </div>
          <div id="p2" class="player" data-player-id="2">
            Player Two
          </div>
          <div id="p3" class="player" data-player-id="3">
            Player Three
          </div>
          <div id="p4" class="player" data-player-id="4">
            Player Four
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
var newGameButton = document.getElementById('new-game-button');
var gameContainer = document.getElementById('game-in-progress-container');
var latestGuessContainer = document.getElementById('latest-guess-container');
var pollInterval;

newGameButton.addEventListener('click', function() {
  fetch('/api/games/', { method: 'POST' })
  .then(function(response) {
    return response.json();
  })
  .then(function(json) {
    newGameButton.style.display = 'none';
    gameContainer.style.display = 'block';

    pollInterval = setInterval(
      function() {
        fetch('/api/games/1/state')
        .then(function(response) {
          return response.json();
        })
        .then(function(json) {
          latestGuessContainer.innerText = 'You guessed: ' + json.guess;

          document.getElementById('p1').style.fontWeight = 'normal';
          document.getElementById('p2').style.fontWeight = 'normal';
          document.getElementById('p3').style.fontWeight = 'normal';
          document.getElementById('p4').style.fontWeight = 'normal';

          document.getElementById('p' + json.guess_player_id).style.fontWeight = 'bold';
          console.log('Player ' + json.guess_player_id + ' guessed: ' + json.guess);

          if (json.guess !== null) {
            clearInterval(pollInterval);
          }
        });
      }
    , 1000);

  });
});
    </script>
  </body>
</html>
